[submodule "json"]
	path = json
	url = https://github.com/katahiromz/json
[submodule "SaveBitmapToFile"]
	path = SaveBitmapToFile
	url = https://github.com/katahiromz/SaveBitmapToFile
[submodule "QString"]
	path = QString
	url = https://github.com/katahiromz/QString
