<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="55FFF7FC-B10F-4F75-921A-D965D90E9DEA" Name="クロスワード ギバー (64ビット版)" Language="1041" Version="4.6.0" Manufacturer="片山博文MZ" UpgradeCode="A85DB838-95A5-483B-A734-6B4E59B7FBCE" Codepage="932">
        <Package Description="クロスワード自動作成ソフト" Comments="クロスワード ギバー (64ビット版)" InstallerVersion="200" Compressed="yes" SummaryCodepage="932" Platform="x64" />
        <MediaTemplate CompressionLevel="high" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder" Name="PFiles">
                <Directory Id="XWORDGIVER64" Name="XWordGiver64">
                    <Component Id="HISTORY.TXT" DiskId="1" Guid="52CD5947-2103-4944-BCC2-020B85478F7D" Win64="yes">
                        <File Id="HISTORY.TXT" Name="HISTORY.txt" Source="HISTORY.txt" />
                    </Component>
                    <Component Id="LICENSE.TXT" DiskId="1" Guid="CEF5AF7A-D5BB-404A-A7BC-ADAFAE005649" Win64="yes">
                        <File Id="LICENSE.TXT" Name="LICENSE.txt" Source="LICENSE.txt" />
                    </Component>
                    <Component Id="README.TXT" DiskId="1" Guid="F93469B1-8FB2-44B0-B5EC-3D32E69AECEC" Win64="yes">
                        <File Id="README.TXT" Name="ReadMe.txt" Source="ReadMe.txt" />
                    </Component>
                    <Component Id="TECHNOTE.TXT" DiskId="1" Guid="39B042D2-7D6C-4924-BB85-9E33BCBBA538" Win64="yes">
                        <File Id="TECHNOTE.TXT" Name="TechNote.txt" Source="TechNote.txt" />
                    </Component>
                    <Component Id="XWORD.PY" DiskId="1" Guid="E9826B7D-2AED-4498-A6D2-DD9A328B13D8" Win64="yes">
                        <File Id="XWORD.PY" Name="xword.py" Source="xword.py" />
                    </Component>
                    <Component Id="XWORD64.EXE" DiskId="1" Guid="6E1C964E-392C-4DA3-9D78-85690B29AFDA" Win64="yes">
                        <File Id="XWORD64.EXE" Name="xword64.exe" Source="xword64.exe" KeyPath="yes">
                            <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="クロスワード ギバー (64ビット版)" Advertise="yes" WorkingDirectory="INSTALLDIR" Icon="DesktopIcon.exe" IconIndex="0" />
                            <Shortcut Id="ExeShortcut" Directory="ApplicationProgramsFolder" Name="クロスワード ギバー" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
                        </File>
                        <ProgId Id="XWordGiver.JsonFile" Description="クロスワードJSONデータ">
                            <Extension Id="xwj" ContentType="application/xwordjson">
                                <Verb Id="open" Command="open" TargetFile="XWORD64.EXE" Argument="&quot;%1&quot;"/>
                            </Extension>
                        </ProgId>
                        <RegistryValue Root="HKCR" Key='XWordGiver.JsonFile\DefaultIcon' Type='string' Value='[XWORDGIVER32]xword64.exe,3' />
                    </Component>
                    <Directory Id="BLOCK" Name="BLOCK">
                        <Component Id="CIRCLE.EMF" DiskId="1" Guid="D7EF9813-D063-468D-96CD-127702013194" Win64="yes">
                            <File Id="CIRCLE.EMF" Name="circle.emf" Source="BLOCK\circle.emf" />
                        </Component>
                        <Component Id="CLUB.EMF" DiskId="1" Guid="A5CF0AB1-01B7-4277-B38D-BE37D2547204" Win64="yes">
                            <File Id="CLUB.EMF" Name="club.emf" Source="BLOCK\club.emf" />
                        </Component>
                        <Component Id="DIAMOND.EMF" DiskId="1" Guid="F3FE5D52-391A-4976-ABE8-8918AFEC3FF3" Win64="yes">
                            <File Id="DIAMOND.EMF" Name="diamond.emf" Source="BLOCK\diamond.emf" />
                        </Component>
                        <Component Id="HEART.EMF" DiskId="1" Guid="5B085F02-8952-4AB4-BD49-5BE8713F04F3" Win64="yes">
                            <File Id="HEART.EMF" Name="heart.emf" Source="BLOCK\heart.emf" />
                        </Component>
                        <Component Id="INK_SAVE_1.BMP" DiskId="1" Guid="19F768F0-9AE5-42EB-9F59-A9DAD4A56147" Win64="yes">
                            <File Id="INK_SAVE_1.BMP" Name="ink-save-1.bmp" Source="BLOCK\ink-save-1.bmp" />
                        </Component>
                        <Component Id="INK_SAVE_2.EMF" DiskId="1" Guid="BB51EA58-77A5-4FB4-B3D0-1A7792836669" Win64="yes">
                            <File Id="INK_SAVE_2.EMF" Name="ink-save-2.emf" Source="BLOCK\ink-save-2.emf" />
                        </Component>
                        <Component Id="MARIO_BLOCK_1.EMF" DiskId="1" Guid="867E12BB-327E-4F56-A971-AF33DDB5029B" Win64="yes">
                            <File Id="MARIO_BLOCK_1.EMF" Name="mario-block-1.emf" Source="BLOCK\mario-block-1.emf" />
                        </Component>
                        <Component Id="MARIO_BLOCK_2.EMF" DiskId="1" Guid="516D348E-8BE8-479D-BF74-62CE2C279DF7" Win64="yes">
                            <File Id="MARIO_BLOCK_2.EMF" Name="mario-block-2.emf" Source="BLOCK\mario-block-2.emf" />
                        </Component>
                        <Component Id="MARIO_BLOCK_3.EMF" DiskId="1" Guid="1FCE0C37-BCAF-4DBE-8433-F4BCA1DF580E" Win64="yes">
                            <File Id="MARIO_BLOCK_3.EMF" Name="mario-block-3.emf" Source="BLOCK\mario-block-3.emf" />
                        </Component>
                        <Component Id="PERFECT_BLACK.BMP" DiskId="1" Guid="E01E3D83-2A2C-44DD-95FB-274AEC5BDB8D" Win64="yes">
                            <File Id="PERFECT_BLACK.BMP" Name="perfect-black.bmp" Source="BLOCK\perfect-black.bmp" />
                        </Component>
                        <Component Id="SAKURA.BMP" DiskId="1" Guid="9A67F390-1F05-4E45-B1E4-242D4F099670" Win64="yes">
                            <File Id="SAKURA.BMP" Name="sakura.bmp" Source="BLOCK\sakura.bmp" />
                        </Component>
                        <Component Id="SPADE.EMF" DiskId="1" Guid="C93CC57B-E825-4200-8239-69AF0A7987D2" Win64="yes">
                            <File Id="SPADE.EMF" Name="spade.emf" Source="BLOCK\spade.emf" />
                        </Component>
                        <Component Id="STAR.BMP" DiskId="1" Guid="DF4E30EE-0F97-413F-AA81-B91B022CA486" Win64="yes">
                            <File Id="STAR.BMP" Name="star.bmp" Source="BLOCK\star.bmp" />
                        </Component>
                        <Component Id="STAR.EMF" DiskId="1" Guid="19F986AB-7E9D-4B1F-A6D9-6860E89413F2" Win64="yes">
                            <File Id="STAR.EMF" Name="star.emf" Source="BLOCK\star.emf" />
                        </Component>
                    </Directory>
                    <Directory Id="DICT" Name="DICT">
                        <Component Id="DICTFILE1.TSV" DiskId="1" Guid="31D03976-A63C-431C-BB23-532E032BD9D8" Win64="yes">
                            <File Id="DICTFILE1.TSV" Name="★二重マス用四字熟語カナ辞書.tsv" Source="DICT\★二重マス用四字熟語カナ辞書.tsv" />
                        </Component>
                        <Component Id="DICTFILE2.TSV" DiskId="1" Guid="DC2A449F-2245-4E48-AC60-10AFD3B65958" Win64="yes">
                            <File Id="DICTFILE2.TSV" Name="基本辞書データ（カナ、自由）.tsv" Source="DICT\基本辞書データ（カナ、自由）.tsv" />
                        </Component>
                        <Component Id="DICTFILE3.TSV" DiskId="1" Guid="FF4094EA-4DFA-408D-A1FB-548F049EE526" Win64="yes">
                            <File Id="DICTFILE3.TSV" Name="基本辞書データ（カナ、謹慎）.tsv" Source="DICT\基本辞書データ（カナ、謹慎）.tsv" />
                        </Component>
                        <Component Id="DICTFILE4.TSV" DiskId="1" Guid="CC3FB7CD-2BA7-43ED-8E45-A58FF02F40B2" Win64="yes">
                            <File Id="DICTFILE4.TSV" Name="基本辞書データ（ロシア、自由）.tsv" Source="DICT\基本辞書データ（ロシア、自由）.tsv" />
                        </Component>
                        <Component Id="DICTFILE5.TSV" DiskId="1" Guid="8C996F44-6FCF-449D-83F7-B7CA50FF9995" Win64="yes">
                            <File Id="DICTFILE5.TSV" Name="基本辞書データ（漢字、自由）.tsv" Source="DICT\基本辞書データ（漢字、自由）.tsv" />
                        </Component>
                        <Component Id="DICTFILE6.TSV" DiskId="1" Guid="F8B306B2-B24E-4357-A34E-27694ACD083D" Win64="yes">
                            <File Id="DICTFILE6.TSV" Name="基本辞書データ（英和、自由）.tsv" Source="DICT\基本辞書データ（英和、自由）.tsv" />
                        </Component>
                        <Component Id="DICTFILE7.TSV" DiskId="1" Guid="FA472436-0517-4B83-8918-E7D1CC92AADC" Win64="yes">
                            <File Id="DICTFILE7.TSV" Name="基本辞書データ（英和、謹慎）.tsv" Source="DICT\基本辞書データ（英和、謹慎）.tsv" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="クロスワード ギバー (64ビット版)">
                </Directory>
            </Directory>
        </Directory>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="StartMenuShortcuts" Guid="A2FDB5BD-9B28-414A-AD98-03F77E09F6F1" Win64="yes">
                <Shortcut Id="UninstallProduct" Name="アンインストール" Description="クロスワード ギバーをアンインストールします" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                <Shortcut Id="HistoryShortcut" Name="HISTORY.txt" Target="[XWORDGIVER64]HISTORY.txt" />
                <Shortcut Id="LicenseShortcut" Name="LICENSE.txt" Target="[XWORDGIVER64]LICENSE.txt" />
                <Shortcut Id="ReadMeShortcut" Name="ReadMe.txt" Target="[XWORDGIVER64]ReadMe.txt" />
                <Shortcut Id="TechNoteShortcut" Name="TechNote.txt" Target="[XWORDGIVER64]TechNote.txt" />
                <Shortcut Id="DictionaryShortcut" Name="DICT" Target="[XWORDGIVER64]DICT" />
                <Shortcut Id="BlockShortcut" Name="BLOCK" Target="[XWORDGIVER64]BLOCK" />
                <util:InternetShortcut Id="WebsiteShortcut" Name="作者のホームページ" Target="https://katahiromz.web.fc2.com/" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\Katayama Hirofumi MZ\XWord64" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="HISTORY.TXT" />
            <ComponentRef Id="LICENSE.TXT" />
            <ComponentRef Id="README.TXT" />
            <ComponentRef Id="TECHNOTE.TXT" />
            <ComponentRef Id="XWORD.PY" />
            <ComponentRef Id="XWORD64.EXE" />
            <ComponentRef Id="CIRCLE.EMF" />
            <ComponentRef Id="CLUB.EMF" />
            <ComponentRef Id="DIAMOND.EMF" />
            <ComponentRef Id="HEART.EMF" />
            <ComponentRef Id="INK_SAVE_1.BMP" />
            <ComponentRef Id="INK_SAVE_2.EMF" />
            <ComponentRef Id="MARIO_BLOCK_1.EMF" />
            <ComponentRef Id="MARIO_BLOCK_2.EMF" />
            <ComponentRef Id="MARIO_BLOCK_3.EMF" />
            <ComponentRef Id="PERFECT_BLACK.BMP" />
            <ComponentRef Id="SAKURA.BMP" />
            <ComponentRef Id="SPADE.EMF" />
            <ComponentRef Id="STAR.BMP" />
            <ComponentRef Id="STAR.EMF" />
            <ComponentRef Id="DICTFILE1.TSV" />
            <ComponentRef Id="DICTFILE2.TSV" />
            <ComponentRef Id="DICTFILE3.TSV" />
            <ComponentRef Id="DICTFILE4.TSV" />
            <ComponentRef Id="DICTFILE5.TSV" />
            <ComponentRef Id="DICTFILE6.TSV" />
            <ComponentRef Id="DICTFILE7.TSV" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_InstallDir" />
        <Icon Id="DesktopIcon.exe" SourceFile="res\Icon_1.ico" />
        <Icon Id="StartMenuIcon.exe" SourceFile="res\Icon_1.ico" />
        <Property Id="WIXUI_INSTALLDIR" Value="XWORDGIVER64" />
        <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    </Product>
</Wix>