<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="68AFA313-913D-4D4E-9235-17C9BF0CDDCF" Name="クロスワード ギバー (32ビット版)" Language="1041" Version="4.7.3" Manufacturer="片山博文MZ" UpgradeCode="221A005C-F94D-4BE3-96C4-6316FEABF002" Codepage="932">
        <Package Description="クロスワード自動作成ソフト" Comments="クロスワード ギバー (32ビット版)" InstallerVersion="200" Compressed="yes" SummaryCodepage="932" />
        <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="XWORDGIVER32" Name="XWordGiver32">
                    <Component Id="HISTORY.TXT" DiskId="1" Guid="37270BC9-128D-4C5B-A845-03CE7376C7D7">
                        <File Id="HISTORY.TXT" Name="HISTORY.txt" Source="HISTORY.txt" />
                    </Component>
                    <Component Id="LICENSE.TXT" DiskId="1" Guid="DF93EBBE-1CB0-4771-AA0E-3ED497A5B589">
                        <File Id="LICENSE.TXT" Name="LICENSE.txt" Source="LICENSE.txt" />
                    </Component>
                    <Component Id="README.TXT" DiskId="1" Guid="5D3C5C18-DA18-4EF5-A705-29382044CEFC">
                        <File Id="README.TXT" Name="ReadMe.txt" Source="ReadMe.txt" />
                    </Component>
                    <Component Id="TECHNOTE.TXT" DiskId="1" Guid="0CE44EA4-9F26-4BBE-82CF-9E1E7D04B7C2">
                        <File Id="TECHNOTE.TXT" Name="TechNote.txt" Source="TechNote.txt" />
                    </Component>
                    <Component Id="XWORD.PY" DiskId="1" Guid="D713A8BE-C2FD-4F3D-A6E8-8FE83D3E0898">
                        <File Id="XWORD.PY" Name="xword.py" Source="xword.py" />
                    </Component>
                    <Component Id="XWORD32.EXE" DiskId="1" Guid="12E625DD-1BA5-4521-82E6-AE42B2D08A94">
                        <File Id="XWORD32.EXE" Name="xword32.exe" Source="xword32.exe" KeyPath="yes">
                            <Shortcut Id="ExeShortcut" Directory="ApplicationProgramsFolder" Name="クロスワード ギバー" Advertise="yes" Icon="MainIcon.exe" IconIndex="0" />
                        </File>
                        <ProgId Id="XWordGiver.JsonFile" Description="クロスワードJSONデータ">
                            <Extension Id="xwj" ContentType="application/xwordjson">
                                <Verb Id="open" Command="open" TargetFile="XWORD32.EXE" Argument="&quot;%1&quot;"/>
                            </Extension>
                        </ProgId>
                    </Component>
                    <Directory Id="BLOCK" Name="BLOCK">
                        <Component Id="CIRCLE.EMF" DiskId="1" Guid="3260B233-6FB2-44E0-A6C0-02C702A75EF6">
                            <File Id="CIRCLE.EMF" Name="circle.emf" Source="BLOCK\circle.emf" />
                        </Component>
                        <Component Id="CLUB.EMF" DiskId="1" Guid="ACEF47D0-3C69-4875-98D4-3CD4846923AD">
                            <File Id="CLUB.EMF" Name="club.emf" Source="BLOCK\club.emf" />
                        </Component>
                        <Component Id="DIAMOND.EMF" DiskId="1" Guid="15B61E18-529B-4239-BFE2-52D53B751D9B">
                            <File Id="DIAMOND.EMF" Name="diamond.emf" Source="BLOCK\diamond.emf" />
                        </Component>
                        <Component Id="HEART.EMF" DiskId="1" Guid="DFD11317-BEE0-4D4E-95EE-99410F137677">
                            <File Id="HEART.EMF" Name="heart.emf" Source="BLOCK\heart.emf" />
                        </Component>
                        <Component Id="INK_SAVE_1.BMP" DiskId="1" Guid="95DF028A-ADD7-451A-A657-31DC57646C49">
                            <File Id="INK_SAVE_1.BMP" Name="ink-save-1.bmp" Source="BLOCK\ink-save-1.bmp" />
                        </Component>
                        <Component Id="INK_SAVE_2.EMF" DiskId="1" Guid="9A57C942-728C-4453-ABDE-7EC611C144F9">
                            <File Id="INK_SAVE_2.EMF" Name="ink-save-2.emf" Source="BLOCK\ink-save-2.emf" />
                        </Component>
                        <Component Id="MARIO_BLOCK_1.EMF" DiskId="1" Guid="7C040474-8190-4D48-8F6B-0DBCD071111B">
                            <File Id="MARIO_BLOCK_1.EMF" Name="mario-block-1.emf" Source="BLOCK\mario-block-1.emf" />
                        </Component>
                        <Component Id="MARIO_BLOCK_2.EMF" DiskId="1" Guid="B217ED43-B2DF-4BF8-93F5-1CBAD773E3E2">
                            <File Id="MARIO_BLOCK_2.EMF" Name="mario-block-2.emf" Source="BLOCK\mario-block-2.emf" />
                        </Component>
                        <Component Id="MARIO_BLOCK_3.EMF" DiskId="1" Guid="543ECB9F-BC49-4468-9B3F-E29BAAB42B8F">
                            <File Id="MARIO_BLOCK_3.EMF" Name="mario-block-3.emf" Source="BLOCK\mario-block-3.emf" />
                        </Component>
                        <Component Id="PERFECT_BLACK.BMP" DiskId="1" Guid="F3AF6421-FF92-43FE-BF07-4386A94CF3F4">
                            <File Id="PERFECT_BLACK.BMP" Name="perfect-black.bmp" Source="BLOCK\perfect-black.bmp" />
                        </Component>
                        <Component Id="SAKURA.BMP" DiskId="1" Guid="69F7FB38-5DBE-4AE8-9842-7DD29810EC90">
                            <File Id="SAKURA.BMP" Name="sakura.bmp" Source="BLOCK\sakura.bmp" />
                        </Component>
                        <Component Id="SPADE.EMF" DiskId="1" Guid="D0890E85-3F05-435C-9B93-3254F873758A">
                            <File Id="SPADE.EMF" Name="spade.emf" Source="BLOCK\spade.emf" />
                        </Component>
                        <Component Id="STAR.BMP" DiskId="1" Guid="6E20AB72-5675-48C2-8F46-BF4F89E9CE8D">
                            <File Id="STAR.BMP" Name="star.bmp" Source="BLOCK\star.bmp" />
                        </Component>
                        <Component Id="STAR.EMF" DiskId="1" Guid="D04D0AD2-2C39-46BC-943C-F818D9287E12">
                            <File Id="STAR.EMF" Name="star.emf" Source="BLOCK\star.emf" />
                        </Component>
                    </Directory>
                    <Directory Id="DICT" Name="DICT">
                        <Component Id="DICTFILE1.TSV" DiskId="1" Guid="69A98EE5-E220-461F-A908-38D7D6976D12">
                            <File Id="DICTFILE1.TSV" Name="★二重マス用四字熟語カナ辞書.tsv" Source="DICT\★二重マス用四字熟語カナ辞書.tsv" />
                        </Component>
                        <Component Id="DICTFILE2.TSV" DiskId="1" Guid="126ACAC7-0FFA-46B0-938E-F5BD33DAB4C3">
                            <File Id="DICTFILE2.TSV" Name="基本辞書データ（カナ、自由）.tsv" Source="DICT\基本辞書データ（カナ、自由）.tsv" />
                        </Component>
                        <Component Id="DICTFILE3.TSV" DiskId="1" Guid="E6D9C9CE-C36A-455B-8497-64B66769EE7F">
                            <File Id="DICTFILE3.TSV" Name="基本辞書データ（カナ、謹慎）.tsv" Source="DICT\基本辞書データ（カナ、謹慎）.tsv" />
                        </Component>
                        <Component Id="DICTFILE4.TSV" DiskId="1" Guid="9872E028-2BD2-4AE5-B549-4FF64FBCB965">
                            <File Id="DICTFILE4.TSV" Name="基本辞書データ（ロシア、自由）.tsv" Source="DICT\基本辞書データ（ロシア、自由）.tsv" />
                        </Component>
                        <Component Id="DICTFILE5.TSV" DiskId="1" Guid="F951D238-C3E3-4D6D-A447-B1C90171D95A">
                            <File Id="DICTFILE5.TSV" Name="基本辞書データ（漢字、自由）.tsv" Source="DICT\基本辞書データ（漢字、自由）.tsv" />
                        </Component>
                        <Component Id="DICTFILE6.TSV" DiskId="1" Guid="5A3DD080-91A2-4650-BFEF-5EDBD9EB122E">
                            <File Id="DICTFILE6.TSV" Name="基本辞書データ（英和、自由）.tsv" Source="DICT\基本辞書データ（英和、自由）.tsv" />
                        </Component>
                        <Component Id="DICTFILE7.TSV" DiskId="1" Guid="A4DB47CF-CD84-4218-A079-833E2BCFB3D8">
                            <File Id="DICTFILE7.TSV" Name="基本辞書データ（英和、謹慎）.tsv" Source="DICT\基本辞書データ（英和、謹慎）.tsv" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="クロスワード ギバー (32ビット版)">
                </Directory>
            </Directory>
        </Directory>
        <DirectoryRef Id="DesktopFolder">
            <Component Id="DesktopFolderShortcuts" Guid="B54567A6-6526-41B6-8EAD-3C40B6C617EF">
                <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="クロスワード ギバー (32ビット版)" Target="[XWORDGIVER32]xword32.exe" Icon="MainIcon.exe" IconIndex="0" />
                <RegistryValue Root="HKCU" Key="Software\Katayama Hirofumi MZ\XWord32" Name="DesktopShortcuts" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="StartMenuShortcuts" Guid="E212A1B2-D161-4D3C-B47E-8441AF989DD5">
                <Shortcut Id="UninstallProduct" Name="アンインストール" Description="クロスワード ギバーをアンインストールします" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                <Shortcut Id="HistoryShortcut" Name="HISTORY.txt" Target="[XWORDGIVER32]HISTORY.txt" />
                <Shortcut Id="LicenseShortcut" Name="LICENSE.txt" Target="[XWORDGIVER32]LICENSE.txt" />
                <Shortcut Id="ReadMeShortcut" Name="ReadMe.txt" Target="[XWORDGIVER32]ReadMe.txt" />
                <Shortcut Id="TechNoteShortcut" Name="TechNote.txt" Target="[XWORDGIVER32]TechNote.txt" />
                <Shortcut Id="DictionaryShortcut" Name="DICT" Target="[XWORDGIVER32]DICT" />
                <Shortcut Id="BlockShortcut" Name="BLOCK" Target="[XWORDGIVER32]BLOCK" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\Katayama Hirofumi MZ\XWord32" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <Feature Id="DefaultFeature" Title="基本機能" Level="1" Display="expand">
            <ComponentRef Id="HISTORY.TXT" />
            <ComponentRef Id="LICENSE.TXT" />
            <ComponentRef Id="README.TXT" />
            <ComponentRef Id="TECHNOTE.TXT" />
            <ComponentRef Id="XWORD.PY" />
            <ComponentRef Id="XWORD32.EXE" />
            <ComponentRef Id="CIRCLE.EMF" />
            <ComponentRef Id="CLUB.EMF" />
            <ComponentRef Id="DIAMOND.EMF" />
            <ComponentRef Id="HEART.EMF" />
            <ComponentRef Id="INK_SAVE_1.BMP" />
            <ComponentRef Id="INK_SAVE_2.EMF" />
            <ComponentRef Id="MARIO_BLOCK_1.EMF" />
            <ComponentRef Id="MARIO_BLOCK_2.EMF" />
            <ComponentRef Id="MARIO_BLOCK_3.EMF" />
            <ComponentRef Id="PERFECT_BLACK.BMP" />
            <ComponentRef Id="SAKURA.BMP" />
            <ComponentRef Id="SPADE.EMF" />
            <ComponentRef Id="STAR.BMP" />
            <ComponentRef Id="STAR.EMF" />
            <ComponentRef Id="DICTFILE1.TSV" />
            <ComponentRef Id="DICTFILE2.TSV" />
            <ComponentRef Id="DICTFILE3.TSV" />
            <ComponentRef Id="DICTFILE4.TSV" />
            <ComponentRef Id="DICTFILE5.TSV" />
            <ComponentRef Id="DICTFILE6.TSV" />
            <ComponentRef Id="DICTFILE7.TSV" />
            <ComponentRef Id="StartMenuShortcuts" />
            <Feature Id="DesktopShortcutsFeature" Title="デスクトップアイコンの作成" Level="1" AllowAdvertise="no">
                <ComponentRef Id="DesktopFolderShortcuts" />
            </Feature>
        </Feature>
        <UI />
        <UIRef Id="WixUI_FeatureTree" />
        <Icon Id="MainIcon.exe" SourceFile="res\Icon_1.ico" />
        <Property Id="WIXUI_INSTALLDIR" Value="XWORDGIVER32" />
        <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
        <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
        <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
      </Product>
</Wix>