body {
	background-color: lightcyan;
}
div#contents {
	font-size: 11px;
}
table.data {
	border: 3px solid black;
	padding: 0;
	line-height: 0;
	font-size: 0;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
td {
	width: 8px;
	height: 8px;
	border: 1px solid black;
	padding: 0;
	margin: 0;
}
td.black {
	background-color: black;
}
td.white {
	background-color: white;
}
.item {
	display: block;
	float: left;
	width: 200px;
	height: 250px;
	border: 3px solid silver;
	background-color: lightyellow;
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
